Repository THA-Embedded-Systems-Lab/soar-code-extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-compile, package-json-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Soar VS Code Extension
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # TypeScript/JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint TypeScript files
        files: \.(ts|js)$
        types: [file]
        args: ['--fix']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.21.0'
          - '@typescript-eslint/parser@6.21.0'

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run compile
        language: system
        pass_filenames: false
        files: \.ts$
        always_run: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown linting
        args: ['--fix', '--config', '.markdownlint.json']

  # Check for broken links in markdown
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: Check markdown links
        args: ['--config', '.markdown-link-check.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
        exclude: 'tsconfig.*\.json$|\.vscode/.*\.json$'
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-lint
        name: Validate package.json
        entry: npm run lint
        language: system
        pass_filenames: false
        files: package\.json$

  # Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format with Prettier
        types_or: [javascript, ts, json, markdown, yaml]
        exclude: '\.min\.(js|css)$|package-lock\.json'
        args: ['--write', '--ignore-unknown']

# Configuration
default_language_version:
  node: '18.18.0'

fail_fast: false

feat(datamap): add validation for unbound variables in production attributes
  src/datamap/datamapValidator.ts
  test/fixtures/test-unbound-variable.soar
Due: typescript-compile

feat(datamap): escalate missing LSP in completion tests to failure; reduce logging for tests
  src/datamap/datamapValidator.ts
  src/test/suite/completion.test.ts
  src/test/suite/extension.test.ts
Due: typescript-compile

fix(tests): correct attribute completion syntax in test cases
  test/fixtures/test-completions.soar
Due: none

feat: add VisualSoar feature specification document
  doc/VisualSoarJavaFeatures.md
Due: none

feat(validation): add command to find missing files and validate project structure
  package.json
  src/extension.ts
  src/layout/projectSync.ts
  src/projectManager.ts
  src/test/suite/diagnostics.test.ts
  src/test/suite/missing-files.test.ts
  test/fixtures/missing-closing-parenthesis.soar
  test/fixtures/sub-test-state.soar
  test/fixtures/test-project.vsa.json
Due: typescript-compile, package-json-lint

fix(tests): increase tests and add missing parenthesis
  src/extension.ts
  src/server/soarParser.ts
  src/test/suite/completion.test.ts
  src/test/suite/definition.test.ts
  src/test/suite/diagnostics.test.ts
  src/test/suite/hover.test.ts
  src/test/suite/symbols.test.ts
  src/test/testUtils.ts
  test/fixtures/elaborations.soar
  test/fixtures/hello-world.soar
  test/fixtures/test-definition-attribute.soar
  test/fixtures/test-definition-operator.soar
  test/fixtures/test-hover-operator.soar
  test/fixtures/test-project.vsa.json
  test/fixtures/test-unbound-variable-fail.soar
  test/fixtures/test-unbound-variable-success.soar
  test/fixtures/test-unbound-variable.soar
Due: typescript-compile

feat(schema): add project schema for VisualSoar with detailed definitions and properties
  project.schema.json
Due: none

feat(validation): enhance datamap validation to include document text for precise error reporting
  src/datamap/datamapValidator.ts
  src/extension.ts
  src/test/suite/diagnostics.test.ts
Due: typescript-compile

feat(validation): enhance enumeration validation to utilize variable bindings for context
  src/datamap/datamapValidator.ts
Due: typescript-compile

feat(validation): improve error reporting by adding precise attribute range detection
  src/datamap/datamapValidator.ts
Due: typescript-compile

feat(parser): implement comment stripping to preserve line structure during parsing
  src/server/soarParser.ts
Due: typescript-compile

feat(docs): update VisualSoar feature specification to a comparison format with VS Code Extension
  doc/VisualSoarJavaFeatures.md
Due: none

feat(package): update version to 0.2.0
  package.json
Due: package-json-lint

test: add water jug simple for linked test
  test/water-jug-simple/water-jug.soar
  test/water-jug-simple/water-jug.tcl
  test/water-jug-simple/water-jug.vsa.json
  test/water-jug-simple/water-jug/_firstload.soar
  test/water-jug-simple/water-jug/_readme.soar
  test/water-jug-simple/water-jug/all/all_source.soar
  test/water-jug-simple/water-jug/comment.dm
  test/water-jug-simple/water-jug/elaborations/elaborations_source.soar
  test/water-jug-simple/water-jug/elaborations/empty.soar
  test/water-jug-simple/water-jug/elaborations/goal-test.soar
  test/water-jug-simple/water-jug/elaborations/monitor.soar
  test/water-jug-simple/water-jug/empty.soar
  test/water-jug-simple/water-jug/fill.soar
  test/water-jug-simple/water-jug/initialize-water-jug.soar
  test/water-jug-simple/water-jug/pour.soar
  test/water-jug-simple/water-jug/record.soar
  test/water-jug-simple/water-jug/water-jug.cfg
  test/water-jug-simple/water-jug/water-jug.dm
  test/water-jug-simple/water-jug/water-jug_source.soar
Due: none

feat(datamap): enhance linked attribute functionality and add CRUD tests
  doc/DATAMAP-CRUD.md
  doc/FEATURES.md
  doc/VisualSoarJavaFeatures.md
  package.json
  src/datamap/datamapMetadata.ts
  src/datamap/datamapOperations.ts
  src/datamap/datamapTreeProvider.ts
  src/extension.ts
  src/test/suite/datamap-linked.test.ts
Due: typescript-compile, package-json-lint

feat(datamap): add hasLinkedSiblings attribute and update tree view representation
  src/datamap/datamapMetadata.ts
  src/datamap/datamapTreeProvider.ts
  src/test/suite/datamap-linked.test.ts
Due: typescript-compile

fix(projectManager): implement active project change event and refactor project loading logic
  src/extension.ts
  src/projectManager.ts
Due: typescript-compile

feat: update version to 0.2.1 and change icon for SOAR_ID type in datamap tree view
  package.json
  src/datamap/datamapTreeProvider.ts
Due: typescript-compile, package-json-lint

feat(tests): add SmartSander test case and corresponding fixture for unbound variable diagnostics
  src/server/soarParser.ts
  src/test/suite/diagnostics.test.ts
  test/fixtures/test-project.vsa.json
  test/fixtures/test-unbound-variable-smart-sander.soar
Due: typescript-compile

feat(layout): enhance addFile functionality to support folder path overrides and add programmatic file addition method
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/layoutTreeProvider.ts
  src/server/visualSoarProject.ts
  src/test/suite/extension.test.ts
Due: typescript-compile

feat(source-scripts): implement source script management and diagnostics analysis
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/sourceScriptManager.ts
  src/server/sourceScriptParser.ts
  src/test/suite/extension.test.ts
Due: typescript-compile

feat(definition-provider): add definition provider for source scripts and corresponding tests
  src/extension.ts
  src/server/sourceScriptParser.ts
  src/test/suite/definition.test.ts
  test/fixtures/source-definition_source.soar
Due: typescript-compile

fix: resolve testing timeout issues
  src/client/lspClient.ts
  src/extension.ts
  src/projectManager.ts
  src/test/suite/diagnostics.test.ts
  src/test/suite/missing-files.test.ts
  src/test/testUtils.ts
Due: typescript-compile

fix(layout): update source reference management and ensure directory creation for new files
  src/layout/layoutOperations.ts
  src/test/suite/extension.test.ts
  src/test/suite/missing-files.test.ts
Due: typescript-compile

feat(validation)!: implement project schema validation and diagnostics reporting
  .vscodeignore
  esbuild.js
  project.schema.json
  src/server/projectLoader.ts
  src/server/soarLanguageServer.ts
  src/server/visualSoarProject.ts
  src/test/suite/project-validation.test.ts
Due: typescript-compile

chore: update package version to 0.3.1 and add ajv dependency
  package-lock.json
  package.json
Due: package-json-lint

feat: enhance project loading and datamap validation with new indexing and metadata features
  README.md
  package-lock.json
  src/datamap/datamapMetadata.ts
  src/datamap/datamapTreeProvider.ts
  src/datamap/datamapValidator.ts
  src/layout/layoutTreeProvider.ts
Due: typescript-compile

fix(parser): enhance parsing logic to handle strings and parentheses correctly; add new test fixtures (#10)
  src/server/soarParser.ts
  test/lsp/syntax/expected/in-rule-comment.success.soar.json
  test/lsp/syntax/expected/string-ignore-braces.success.soar.json
  test/lsp/syntax/fixtures/in-rule-comment.success.soar
  test/lsp/syntax/fixtures/string-ignore-braces.success.soar
Due: typescript-compile

fix(parser): enhance attribute parsing to support path disjunction and update test fixtures (#11)
  src/server/soarParser.ts
  test/lsp/datamap/expected/vars/vars/anchor-object-class.soar.json
  test/lsp/datamap/expected/vars/vars/elaborations/_all.soar.json
  test/lsp/datamap/expected/vars/vars/elaborations/top-state.soar.json
  test/lsp/datamap/expected/vars/vars/initialize-vars.soar.json
  test/lsp/datamap/fixtures/vars/vars.soar
  test/lsp/datamap/fixtures/vars/vars.vsa.json
  test/lsp/datamap/fixtures/vars/vars/all/all_source.soar
  test/lsp/datamap/fixtures/vars/vars/anchor-object-class.soar
  test/lsp/datamap/fixtures/vars/vars/elaborations/_all.soar
  test/lsp/datamap/fixtures/vars/vars/elaborations/elaborations_source.soar
  test/lsp/datamap/fixtures/vars/vars/elaborations/top-state.soar
  test/lsp/datamap/fixtures/vars/vars/initialize-vars.soar
  test/lsp/datamap/fixtures/vars/vars/vars_source.soar
  test/lsp/datamap/helpers/datamap.test.ts
Due: typescript-compile

fix: use syntax of unmaintained soar extension (#8)
  syntaxes/soar.tmLanguage.json
Due: none

fix: add missing automatic test files
  test/lsp/datamap/expected/old/sub-test-state/elaborations/_all.soar.json
  test/lsp/datamap/expected/old/sub-test-state/propose.soar.json
  test/lsp/datamap/expected/old/sub-test-state/sub-sub-test-state/elaborations/_all.soar.json
  test/lsp/datamap/expected/old/sub-test-state/sub-sub-test-state/propose.soar.json
Due: none

fix(datamap): add test (#7)
  test/lsp/datamap/expected/vars/vars/augmentation-validation.soar.json
  test/lsp/datamap/fixtures/vars/vars.vsa.json
  test/lsp/datamap/fixtures/vars/vars/augmentation-validation.soar
  test/lsp/datamap/fixtures/vars/vars/vars_source.soar
Due: none

fix(projectManager): implement file system watcher for active project file changes (#3)
  src/projectManager.ts
Due: typescript-compile

feat: undo/ redo (#2)
  package.json
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/undoManager.ts
  src/projectManager.ts
  test/helpers/index.ts
  test/helpers/vscode-mock.ts
  test/layout/undoManager.test.ts
Due: typescript-compile, package-json-lint

cI: update tests
  .github/workflows/ci.yml
Due: none

docs: update readme
  README.md
Due: none

fix(undoManager): reduce max stack size from 50 to 25 and update related tests
  src/layout/undoManager.ts
  test/layout/undoManager.test.ts
Due: typescript-compile

ci: use x server for linux
  .github/workflows/ci.yml
Due: none

chore: add changelog and create changelog configuration
  CHANGELOG.md
  README.md
  cliff.toml
Due: none
