Repository THA-Embedded-Systems-Lab/soar-code-extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-compile, package-json-lint

typescript-compile:
  name: TypeScript compilation check
  entry: npm run compile
  language: system
  pass_filenames: false
  always_run: false

package-json-lint:
  name: Validate package.json
  entry: npm run lint
  language: system
  pass_filenames: false

fix: io.input-link.<message> <id> datamap and completion logic was wrong
  src/datamap/datamapMetadata.ts
  src/datamap/datamapValidator.ts
  src/server/completionProvider.ts
  test/lsp/completions/expected/attribute-variable.json
  test/lsp/completions/fixtures/attribute-variable.soar
  test/lsp/datamap/expected/vars/vars/output-link-remove-completed.soar.json
  test/lsp/datamap/fixtures/vars/vars.vsa.json
  test/lsp/datamap/fixtures/vars/vars/output-link-remove-completed.soar
  test/lsp/datamap/fixtures/vars/vars/vars_source.soar
Due: typescript-compile

feat(mcp): add CLI explain commands for operator tracking and explanations
  llm.txt
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
Due: typescript-compile

fix: add missing MCP tools to test file
  test/mcp/fixtures/tool-detection.expected.json
Due: none

feat(mcp): add layout_find_nodes tool for discovering layout nodes
  CLAUDE.md
  llm.txt
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

chore: update dependencies
  package-lock.json
  package.json
Due: package-json-lint

feat: add Claude style mcp config
  .gitignore
  llm.txt
  src/mcp/mcpRegistration.ts
  src/mcp/soarMcpCore.ts
Due: typescript-compile

docs: update descriptions and attribute to references
  README.md
  doc/REFERENCES.md
Due: none

fix: add CLAUDE.md to markdownlint ignore files
  .markdownlintignore
  .pre-commit-config.yaml
Due: none

docs: shorten dev container instructions
  .devcontainer/README.md
Due: none

fix: rename from Soar to Soar tools due to occupied extension name in vs marketplace
  package.json
Due: package-json-lint

docs(Agents): integrate AGENTS.md and llm.txt into CLAUDE.md
  AGENTS.md
  CLAUDE.md
  llm.txt
Due: none

chore: add release automation via npm version <major/minor/patch>
  .npmrc
  CLAUDE.md
  package-lock.json
  package.json
Due: package-json-lint

revert: decrease version number for automatic release
  package.json
Due: package-json-lint

fix: format changelog in version hook before staging
  package.json
Due: package-json-lint

0.7.0
  CHANGELOG.md
  package.json
Due: package-json-lint

fix: update extension name in tests
  test/integration/extension.test.ts
Due: typescript-compile

docs: add images
  doc/Images/soar-vs-code-extension-commands.png
  doc/Images/soar-vs-code-extension-dap-s1-o1.png
  doc/Images/soar-vs-code-extension-dap-s1.png
  doc/Images/soar-vs-code-extension-dap-s2.png
  doc/Images/soar-vs-code-extension-datamap.png
  doc/Images/soar-vs-code-extension-problem-panel.png
Due: none

docs: update release notes
  README.md
Due: none

docs: add screenshots
  README.md
Due: none

0.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint

fix: change callout in README.md to correctly render in vs code marketplace
  README.md
Due: none

docs: add mcp documentation to README.md
  README.md
Due: none

feat: add icon for sidebar and vs code marketplace
  doc/Images/icon.png
  doc/Images/icon.svg
  media/soar-sidebar.svg
  package.json
Due: package-json-lint

fix!: rename from soar-tool to soar-tools
  package.json
Due: package-json-lint

feat: implement inline high-level operator substate expansion in datamap
  CLAUDE.md
  package.json
  src/datamap/datamapTreeProvider.ts
  src/extension.ts
  test/helpers/index.ts
  test/helpers/vscode-mock.ts
  test/lsp/datamap/helpers/inline-substate.test.ts
Due: typescript-compile, package-json-lint

feat: operator rename/datamap sync, drag-and-drop move, duplicate guards
  CLAUDE.md
  package.json
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/layoutTreeProvider.ts
  test/helpers/index.ts
  test/layout/layoutMoveRenameSync.test.ts
Due: typescript-compile, package-json-lint

feat: add context-aware operator augmentation validation and tests
  src/datamap/datamapValidator.ts
  test/legacy-agents/fixtures/BW-Hierarchical/BW-Hierarchical.vsa.json
  test/lsp/datamap/expected/vars/vars/output-link-remove-completed.soar.json
  test/lsp/datamap/helpers/operator-context.test.ts
Due: typescript-compile

feat(parser)!: implement Chevrotain-based lexer and parser for Soar language
  CLAUDE.md
  package-lock.json
  package.json
  src/server/soarGrammar.ts
  src/server/soarLexer.ts
  src/server/soarParser.ts
  test/lsp/syntax/expected/extra-closing-paren.soar.json
  test/lsp/syntax/expected/missing-braces.soar.json
  test/lsp/syntax/expected/missing-production-name.soar.json
  test/lsp/syntax/expected/unclosed-angle.soar.json
  test/lsp/syntax/expected/unmatched-paren.soar.json
Due: typescript-compile, package-json-lint

feat: implement project-wide operator augmentation index for propose/apply consistency checks
  CLAUDE.md
  src/datamap/datamapValidator.ts
  src/extension.ts
  src/mcp/soarMcpCore.ts
  src/server/soarParser.ts
  src/server/soarTypes.ts
  src/server/visualSoarProject.ts
  test/legacy-agents/helpers/project-validation.test.ts
  test/lsp/datamap/expected/vars/vars/anchor-object-class.soar.json
  test/lsp/datamap/expected/vars/vars/missing-attribute-test-in-propose.soar.json
  test/lsp/datamap/fixtures/vars/vars.vsa.json
  test/lsp/datamap/fixtures/vars/vars/missing-attribute-test-in-propose.soar
  test/lsp/datamap/fixtures/vars/vars/vars_source.soar
  test/lsp/datamap/helpers/datamap.test.ts
Due: typescript-compile

0.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint

chore!: upgrade minimal supported vs code version to 1.120+ and increase node to 24.x
  .github/workflows/ci.yml
  package.json
Due: package-json-lint

chore!: update deps
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: package-json-lint

fix: restore strict typing after dependency update
  src/debug/smlSocketClient.ts
  tsconfig.json
Due: typescript-compile

chore: update vscode engine requirement to ^1.125.0
  package-lock.json
  package.json
Due: package-json-lint

fix: correct extension ID in integration tests
  test/integration/extension.test.ts
Due: typescript-compile

0.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint

ci: update actions/checkout and actions/setup-node to latest version
  .github/workflows/ci.yml
Due: none

feat: add support for operator-preference tests in Soar grammar
  src/server/soarGrammar.ts
  test/lsp/syntax/expected/lhs-acceptable-preference.success.soar.json
  test/lsp/syntax/fixtures/lhs-acceptable-preference.success.soar
Due: typescript-compile

fix: allow self-linked datamap attributes and non-<s> state variable names
  CLAUDE.md
  src/datamap/datamapOperations.ts
  src/datamap/datamapValidator.ts
  src/server/completionProvider.ts
  src/server/soarParser.ts
  src/server/soarTypes.ts
  test/helpers/index.ts
  test/lsp/datamap/helpers/state-variable-naming.test.ts
Due: typescript-compile

Path conditions:
  typescript-compile: any of: \.ts$
  package-json-lint: any of: package\.json$
