Repository THA-Embedded-Systems-Lab/soar-code-extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-compile, package-json-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Soar VS Code Extension
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # TypeScript/JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint TypeScript files
        files: \.(ts|js)$
        types: [file]
        args: ['--fix']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.21.0'
          - '@typescript-eslint/parser@6.21.0'

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run compile
        language: system
        pass_filenames: false
        files: \.ts$
        always_run: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown linting
        args: ['--fix', '--config', '.markdownlint.json']

  # Check for broken links in markdown
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: Check markdown links
        args: ['--config', '.markdown-link-check.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
        exclude: 'tsconfig.*\.json$|\.vscode/.*\.json$'
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-lint
        name: Validate package.json
        entry: npm run lint
        language: system
        pass_filenames: false
        files: package\.json$

  # Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format with Prettier
        types_or: [javascript, ts, json, markdown, yaml]
        exclude: '\.min\.(js|css)$|package-lock\.json'
        args: ['--write', '--ignore-unknown']

# Configuration
default_language_version:
  node: '18.18.0'

fail_fast: false

tests: extend timeout for undo manager test
  test/layout/undoManager.test.ts
Due: typescript-compile

chore: release 0.4.1
  package.json
Due: package-json-lint

docs: update changelog
  CHANGELOG.md
Due: none

test: add datamap manipulation test
  .gitignore
  src/layout/layoutOperations.ts
  test/datamap-manipulation/README.md
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation.vsa.json
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/_firstload.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/all/all_source.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/elaborations/_all.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/elaborations/elaborations_source.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/elaborations/top-state.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/initialize-sub-operator-generation.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator-generation.cfg
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator-generation_source.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator/elaborations.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator/sub-operator_source.soar
  test/datamap-manipulation/expected/sub-operator-generation/sub-operator-generation/sub-operator/sub-sub-operator.soar
  test/datamap-manipulation/fixtures/sub-operator-generation.test.ts
  test/datamap-manipulation/helpers/datamap-manipulation.test.ts
  test/helpers/index.ts
Due: typescript-compile

fix: update iconography (#1)
  src/layout/layoutTreeProvider.ts
  src/server/projectLoader.ts
Due: typescript-compile

feat: add impasse operator creation
  package.json
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/soarTemplates.ts
Due: typescript-compile, package-json-lint

refactor(layout): consolidate code and add tests
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/soarTemplates.ts
  test/datamap-manipulation/helpers/datamap-manipulation.test.ts
  test/helpers/index.ts
  test/layout/README.md
  test/layout/layoutOperations.test.ts
  test/layout/undoManager.test.ts
Due: typescript-compile

chore: prepare 0.5.0 release
  package.json
Due: package-json-lint

docs: 0.5.0 changelog
  CHANGELOG.md
Due: none

feat: initial commit Soar MCP Server
  .gitignore
  esbuild.js
  package-lock.json
  package.json
  src/datamap/datamapValidator.ts
  src/extension.ts
  src/mcp/mcpRegistration.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  src/projectManager.ts
  test/helpers/index.ts
  test/mcp/fixtures/tool-detection.expected.json
  test/mcp/helpers/active-project.test.ts
  test/mcp/helpers/tool-detection.test.ts
Due: typescript-compile, package-json-lint

docs: add Agents.ms and llm.md
  AGENTS.md
  llm.md
Due: none

feat(mcp): add layout management tools
  llm.md
  package.json
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile, package-json-lint

style: fix lint warnings
  src/extension.ts
  src/mcp/mcpRegistration.ts
  src/projectManager.ts
Due: typescript-compile

fix: parallel mcp calls lead to duplicate datamap ids.
  llm.md
  src/mcp/soarMcpServer.ts
  src/mcp/toolExecutionQueue.ts
  test/helpers/index.ts
  test/mcp/helpers/tool-execution-queue.test.ts
Due: typescript-compile

fix: remove duplicate ID generation for datamap and layout vertices
  llm.md
  src/datamap/datamapOperations.ts
  src/layout/layoutOperations.ts
  src/mcp/soarMcpCore.ts
  src/server/idGeneration.ts
  test/helpers/index.ts
  test/mcp/helpers/id-generation.test.ts
Due: typescript-compile

feat: add debug adapter protocol via xml sml interface
  llm.txt
  package.json
  src/debug/smlSocketClient.ts
  src/debug/soarSmlDebugAdapter.ts
  src/debug/stopPhaseTreeProvider.ts
  src/extension.ts
Due: typescript-compile, package-json-lint

feat: add support for setting variable view depth in Soar SML debug session
  .gitignore
  AGENTS.md
  llm.txt
  package.json
  src/debug/soarSmlDebugAdapter.ts
  src/extension.ts
Due: typescript-compile, package-json-lint

fix: update dependencies and fix tests
  .github/workflows/ci.yml
  package-lock.json
  package.json
  test/integration/extension.test.ts
  test/runTest.ts
Due: typescript-compile, package-json-lint

doc: add 0.6.0 changelog
  CHANGELOG.md
Due: none

ci: add automatic release note generation
  .github/workflows/ci.yml
  llm.txt
Due: none

chore: add commit reference to changelog
  .markdownlintignore
  CHANGELOG.md
  cliff.toml
  llm.txt
Due: none

fix: ownership change in linked attributes (#12)
  src/datamap/datamapMetadata.ts
  src/extension.ts
  test/helpers/index.ts
  test/lsp/datamap/helpers/linked-attributes.test.ts
Due: typescript-compile

fix: update completion logic and add tests
  src/server/completionProvider.ts
  src/server/soarLanguageServer.ts
  src/server/soarParser.ts
  test/helpers/index.ts
  test/lsp/completions/CompletionTest/CompletionTest.vsa.json
  test/lsp/completions/CompletionTest/CompletionTest/CompletionTest_source.soar
  test/lsp/completions/CompletionTest/CompletionTest/alternative-operator.soar
  test/lsp/completions/CompletionTest/CompletionTest/init.soar
  test/lsp/completions/README.md
  test/lsp/completions/expected/all-input-link-messages.json
  test/lsp/completions/expected/all-input-link.json
  test/lsp/completions/expected/linked-attribute-blank.json
  test/lsp/completions/expected/linked-attribute.json
  test/lsp/completions/expected/operator-name.json
  test/lsp/completions/expected/operator.json
  test/lsp/completions/expected/value-completions-enum.json
  test/lsp/completions/expected/value-completions-float.json
  test/lsp/completions/expected/value-completions-integer.json
  test/lsp/completions/expected/value-completions-string.json
  test/lsp/completions/expected/value-completions.json
  test/lsp/completions/fixtures/all-input-link-messages.soar
  test/lsp/completions/fixtures/all-input-link.soar
  test/lsp/completions/fixtures/linked-attribute-blank.soar
  test/lsp/completions/fixtures/linked-attribute.soar
  test/lsp/completions/fixtures/operator-name.soar
  test/lsp/completions/fixtures/operator.soar
  test/lsp/completions/fixtures/value-completions-enum.soar
  test/lsp/completions/fixtures/value-completions-float.soar
  test/lsp/completions/fixtures/value-completions-integer.soar
  test/lsp/completions/fixtures/value-completions-string.soar
  test/lsp/completions/fixtures/value-completions.soar
  test/lsp/completions/helpers/completion.test.ts
Due: typescript-compile

feat: add .soarignore file logic (#5, #6)
  llm.txt
  package-lock.json
  package.json
  src/extension.ts
  src/layout/projectCreator.ts
  src/layout/projectSync.ts
  src/layout/soarIgnore.ts
Due: typescript-compile, package-json-lint

fix: orphan files nested path was not split (#2)
  .gitignore
  src/extension.ts
  src/layout/projectSync.ts
  test/helpers/index.ts
  test/lsp/datamap/fixtures/old/sub-test-state/elaborations/orphan-nested.soar
  test/lsp/datamap/fixtures/old/test-project.vsa.json
  test/lsp/datamap/helpers/orphaned-files.test.ts
Due: typescript-compile

initial commit
  llm.txt
  src/debug/soarSmlDebugAdapter.ts
  test/debugger/multi-agent.test.ts
  test/helpers/index.ts
  test/helpers/vscode-mock.ts
Due: typescript-compile

feat(MCP): implement agent runtime control
  .vscode/launch.json
  llm.txt
  package-lock.json
  package.json
  src/mcp/mcpRegistration.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile, package-json-lint

feat: add support for updating enumeration values in datamap attributes
  llm.txt
  src/datamap/datamapOperations.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/helpers/index.ts
  test/mcp/helpers/update-attribute.test.ts
Due: typescript-compile

feat: add command to validate selected project against LSP diagnostics
  llm.txt
  package.json
  src/extension.ts
Due: typescript-compile, package-json-lint

refactor: remove legacy helloWorld command from extension
  llm.txt
  package.json
  src/extension.ts
Due: typescript-compile, package-json-lint

feat: implement parent reassignment functionality in datamap operations and add corresponding tests
  llm.txt
  src/datamap/datamapOperations.ts
  test/datamap-manipulation/fixtures/parent-reassignment.test.ts
  test/helpers/index.ts
  test/helpers/vscode-mock.ts
Due: typescript-compile

chore: update version to 0.7.0 in package.json
  package.json
Due: package-json-lint

fix!: update dependencies via npm audit suggestions
  package-lock.json
  package.json
Due: package-json-lint

fix: datamap integrity tests
  src/datamap/datamapOperations.ts
  test/lsp/datamap/helpers/datamap-integrity.test.ts
Due: typescript-compile

feat(datamap): improve removal of attributes with links and check integrity of datamap
  llm.txt
  package.json
  src/datamap/datamapMetadata.ts
  src/datamap/datamapOperations.ts
  src/extension.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/helpers/index.ts
  test/lsp/datamap/helpers/datamap-integrity.test.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile, package-json-lint

feat(mcp): update tool description for smaller llms
  llm.txt
  src/datamap/datamapOperations.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

feat: sorted view and search for datamap and layout views
  llm.txt
  package.json
  src/datamap/datamapTreeProvider.ts
  src/extension.ts
  src/layout/layoutTreeProvider.ts
Due: typescript-compile, package-json-lint
