Repository THA-Embedded-Systems-Lab/soar-code-extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-compile, package-json-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Soar VS Code Extension
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # TypeScript/JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint TypeScript files
        files: \.(ts|js)$
        types: [file]
        args: ['--fix']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.21.0'
          - '@typescript-eslint/parser@6.21.0'

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run compile
        language: system
        pass_filenames: false
        files: \.ts$
        always_run: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown linting
        args: ['--fix', '--config', '.markdownlint.json']

  # Check for broken links in markdown
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: Check markdown links
        args: ['--config', '.markdown-link-check.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
        exclude: 'tsconfig.*\.json$|\.vscode/.*\.json$'
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-lint
        name: Validate package.json
        entry: npm run lint
        language: system
        pass_filenames: false
        files: package\.json$

  # Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format with Prettier
        types_or: [javascript, ts, json, markdown, yaml]
        exclude: '\.min\.(js|css)$|package-lock\.json'
        args: ['--write', '--ignore-unknown']

# Configuration
default_language_version:
  node: '18.18.0'

fail_fast: false

fix: stabilize datamap linked-vertex display names in editor pickers
  CLAUDE.md
  src/datamap/datamapMetadata.ts
  src/datamap/datamapOperations.ts
  test/helpers/index.ts
  test/lsp/datamap/helpers/canonical-name.test.ts
Due: typescript-compile

feat: Enhance datamap validation and parsing for conjunctive attribute tests
  CLAUDE.md
  src/datamap/datamapValidator.ts
  src/server/soarGrammar.ts
  src/server/soarLexer.ts
  src/server/soarParser.ts
  src/server/soarTypes.ts
  test/helpers/index.ts
  test/legacy-agents/helpers/project-validation.test.ts
  test/lsp/datamap/helpers/conjunctive-attribute.test.ts
Due: typescript-compile

chore!: rename extension due to vs code marketplace naming conflicts to Soar Development Tools (soar-dev-tools)
  README.md
  package-lock.json
  package.json
  test/integration/extension.test.ts
Due: typescript-compile, package-json-lint

fix: update sorting logic in datamap tree provider
  CLAUDE.md
  package.json
  src/datamap/datamapTreeProvider.ts
Due: typescript-compile, package-json-lint

refactor: consolidate project validation commands into a single 'Check Project' command
  CLAUDE.md
  README.md
  package.json
  src/extension.ts
  test/integration/extension.test.ts
Due: typescript-compile, package-json-lint

feat: implement a persistent search field for datamap and layout trees in a webview
  CLAUDE.md
  package.json
  src/datamap/datamapTreeProvider.ts
  src/extension.ts
  src/soarSearchViewProvider.ts
Due: typescript-compile, package-json-lint

0.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint

feat(mcp): default agent_runtime_cli_print to structured output
  CLAUDE.md
  src/debug/smlSocketClient.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/helpers/index.ts
  test/mcp/helpers/print-structured-output.test.ts
Due: typescript-compile

fix: Soar MCP server config in mcp.json file not automatically generated on extension activation
  CLAUDE.md
  package.json
  src/extension.ts
  src/mcp/mcpRegistration.ts
Due: typescript-compile, package-json-lint

0.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint

feat(datamap): detect stale/unused datamap items in Check Project
  CLAUDE.md
  package.json
  src/datamap/datamapUsage.ts
  src/extension.ts
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpTools.ts
  test/helpers/index.ts
  test/lsp/datamap/helpers/datamap-stale-items.test.ts
Due: typescript-compile, package-json-lint

feat(datamap): add VisualSoar-style datamap usage sweeps
  CLAUDE.md
  src/datamap/datamapUsage.ts
  src/extension.ts
  src/mcp/soarMcpCore.ts
  test/lsp/datamap/helpers/datamap-stale-items.test.ts
Due: typescript-compile

feat(datamap): exempt io subtrees from directional usage buckets
  CLAUDE.md
  src/datamap/datamapUsage.ts
  test/lsp/datamap/helpers/datamap-stale-items.test.ts
Due: typescript-compile

chore: update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

style: run pre-commit across all files
  .github/workflows/ci.yml
  .vscode/launch.json
  CLAUDE.md
  snippets/soar.json
  src/datamap/datamapValidator.ts
  src/layout/layoutTreeProvider.ts
  src/mcp/soarMcpCore.ts
  test/lsp/completions/fixtures/attribute-variable.soar
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

feat(mcp): add runtime-only compact datamap tools for the explainability LLM
  CLAUDE.md
  src/mcp/soarMcpCore.ts
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  src/server/visualSoarProject.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

refactor(mcp): split agent_runtime_cli_print into working-memory/production tools
  CLAUDE.md
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

feat(mcp): add dedicated agent_runtime_cli_print_pattern tool
  CLAUDE.md
  src/mcp/soarMcpServer.ts
  src/mcp/soarMcpTools.ts
  test/mcp/fixtures/tool-detection.expected.json
Due: typescript-compile

fix(ci): bump @vscode/test-electron to ^3.1.0 for macOS launch
  package-lock.json
  package.json
Due: package-json-lint

fix(ci): make integration test harness work under ESM
  test/integration/extension.test.ts
  test/integration/index.ts
  test/runTest.ts
Due: typescript-compile

fix(ci): move mocha flags to .mocharc.json for Windows
  .mocharc.json
  CLAUDE.md
  package.json
Due: package-json-lint

0.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-lint
