Repository THA-Embedded-Systems-Lab/soar-code-extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-compile, package-json-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Soar VS Code Extension
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # TypeScript/JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint TypeScript files
        files: \.(ts|js)$
        types: [file]
        args: ['--fix']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.21.0'
          - '@typescript-eslint/parser@6.21.0'

  # TypeScript compilation check
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run compile
        language: system
        pass_filenames: false
        files: \.ts$
        always_run: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown linting
        args: ['--fix', '--config', '.markdownlint.json']

  # Check for broken links in markdown
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: Check markdown links
        args: ['--config', '.markdown-link-check.json']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: '\.min\.(js|css)$'
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
        exclude: 'tsconfig.*\.json$|\.vscode/.*\.json$'
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-lint
        name: Validate package.json
        entry: npm run lint
        language: system
        pass_filenames: false
        files: package\.json$

  # Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format with Prettier
        types_or: [javascript, ts, json, markdown, yaml]
        exclude: '\.min\.(js|css)$|package-lock\.json'
        args: ['--write', '--ignore-unknown']

# Configuration
default_language_version:
  node: '18.18.0'

fail_fast: false

feat: Add CI workflow for build, test, and linting processes
  .github/workflows/ci.yml
Due: none

feat: update version to 0.1.4, change activation event, and add restart command for LSP client
  .devcontainer/devcontainer.json
  .gitignore
  .vscodeignore
  package-lock.json
  package.json
  src/client/lspClient.ts
  src/extension.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
Due: typescript-compile, package-json-lint

fix: dependency
  package.json
Due: package-json-lint

fix: align lock file with package.json
  package-lock.json
  package.json
Due: package-json-lint

fix lints
  .markdownlint.json
  .pre-commit-config.yaml
  README.md
  doc/ARCHITECTURE.md
  doc/DATAMAP-CRUD.md
  doc/DATAMAP-TREE-VIEW.md
  doc/DOCUMENTATION.md
  doc/FEATURES.md
  doc/QUICKREF.md
  doc/REFERENCES.md
  doc/VISUALSOAR-INTEGRATION.md
Due: none

fix: standardize quotes and remove redundant linting steps in CI workflow
  .github/workflows/ci.yml
Due: none

fix: update CI workflow to use Node.js 20.x and streamline test execution
  .github/workflows/ci.yml
Due: none

fix: remove pre-commit checks from CI workflow
  .github/workflows/ci.yml
Due: none

feat: add MIT license and update publisher and repository details in package.json
  LICENSE
  package.json
Due: package-json-lint

fix: update publisher name and repository URL in package.json; correct extension identifier in tests
  package.json
  src/test/suite/extension.test.ts
Due: typescript-compile, package-json-lint

feat: enhance CI workflow with release job and update Node.js caching
  .github/workflows/ci.yml
Due: none

fix: update version number to 0.1.5 in package.json
  package.json
Due: package-json-lint

bump version to 0.1.6, update main entry point to dist, and enhance build scripts
  .vscode/tasks.json
  .vscodeignore
  esbuild.js
  package-lock.json
  package.json
  src/client/lspClient.ts
Due: typescript-compile, package-json-lint

feat: enhance collectProjectFiles method to include parent folder path and improve orphaned files report formatting
  src/layout/projectSync.ts
Due: typescript-compile

fix: update version number to 0.1.7 in package.json
  package.json
Due: package-json-lint

feat: implement project management features including project selection and loading from file
  package.json
  src/datamap/datamapTreeProvider.ts
  src/extension.ts
  src/layout/layoutTreeProvider.ts
  src/projectManager.ts
Due: typescript-compile, package-json-lint

ci: reduce dependency and reduce trigger frequency
  .github/workflows/ci.yml
  .prettierrc.json
Due: none

feat(parser): enhance attribute parsing to support context-aware attributes and multiple values
  .devcontainer/devcontainer.json
  doc/FEATURES.md
  package-lock.json
  src/datamap/datamapOperations.ts
  src/datamap/datamapValidator.ts
  src/extension.ts
  src/server/soarParser.ts
  src/server/soarTypes.ts
  src/test/parserTest.ts
  src/test/suite/parser.test.ts
  test/fixtures/test-enum-context.soar
  test/fixtures/test-enum-validation.soar
Due: typescript-compile

feat(parser): enhance context attribute parsing to support new patterns and multiple values
  src/server/soarParser.ts
Due: typescript-compile

feat(parser): skip validation for '-' in attributes and add tests for WME removal
  src/datamap/datamapValidator.ts
  src/server/soarParser.ts
  src/test/suite/parser.test.ts
Due: typescript-compile

refactor(parser): streamline validation methods and enhance enumeration checks
  src/datamap/datamapValidator.ts
Due: typescript-compile

feat(parser): update validation command to target selected project instead of workspace
  README.md
  doc/FEATURES.md
  package.json
  src/extension.ts
Due: typescript-compile, package-json-lint

test(parser): add enumeration error detection for project validation
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  test/BW-Hierarchical/BW-Hierarchical/move-block.soar
Due: typescript-compile

Enhance layout operations and file management
  package.json
  src/extension.ts
  src/layout/layoutOperations.ts
  src/layout/layoutTreeProvider.ts
  src/layout/soarTemplates.ts
  src/server/visualSoarProject.ts
  src/test/suite/extension.test.ts
Due: typescript-compile, package-json-lint

Implement feature X to enhance user experience and optimize performance
  src/layout/layoutOperations.ts
Due: typescript-compile

feat(parser): enhance project loading by adding recursive search for project files in subdirectories
  src/server/projectLoader.ts
  src/server/soarLanguageServer.ts
Due: typescript-compile

refactor(tests): remove typo validation in test project
  src/test/suite/extension.test.ts
  test/BW-Hierarchical/BW-Hierarchical/move-block.soar
Due: typescript-compile

feat: add project creation command and test
  README.md
  doc/FEATURES.md
  package.json
  src/extension.ts
  src/layout/projectCreator.ts
  src/test/projectCreatorTest.ts
  src/test/suite/extension.test.ts
  test/VisualSoar-Project-Scaffold/New-Agent.soar
  test/VisualSoar-Project-Scaffold/New-Agent.vsa.json
  test/VisualSoar-Project-Scaffold/New-Agent/New-Agent.cfg
  test/VisualSoar-Project-Scaffold/New-Agent/New-Agent_source.soar
  test/VisualSoar-Project-Scaffold/New-Agent/_firstload.soar
  test/VisualSoar-Project-Scaffold/New-Agent/all/all_source.soar
  test/VisualSoar-Project-Scaffold/New-Agent/elaborations/_all.soar
  test/VisualSoar-Project-Scaffold/New-Agent/elaborations/elaborations_source.soar
  test/VisualSoar-Project-Scaffold/New-Agent/elaborations/top-state.soar
  test/VisualSoar-Project-Scaffold/New-Agent/initialize-New-Agent.soar
Due: typescript-compile, package-json-lint

test: add test for operator and high level operator creation
  src/layout/layoutOperations.ts
  src/test/suite/extension.test.ts
  test/Substate-operator-project/substate-operator-agent.soar
  test/Substate-operator-project/substate-operator-agent.vsa.json
  test/Substate-operator-project/substate-operator-agent/_firstload.soar
  test/Substate-operator-project/substate-operator-agent/all/all_source.soar
  test/Substate-operator-project/substate-operator-agent/elaborations/_all.soar
  test/Substate-operator-project/substate-operator-agent/elaborations/elaborations_source.soar
  test/Substate-operator-project/substate-operator-agent/elaborations/top-state.soar
  test/Substate-operator-project/substate-operator-agent/initialize-substate-operator-agent.soar
  test/Substate-operator-project/substate-operator-agent/sub-operator-only.soar
  test/Substate-operator-project/substate-operator-agent/sub-operator-with-child.soar
  test/Substate-operator-project/substate-operator-agent/sub-operator-with-child/child-operator.soar
  test/Substate-operator-project/substate-operator-agent/sub-operator-with-child/elaborations.soar
  test/Substate-operator-project/substate-operator-agent/sub-operator-with-child/sub-operator-with-child_source.soar
  test/Substate-operator-project/substate-operator-agent/substate-operator-agent.cfg
  test/Substate-operator-project/substate-operator-agent/substate-operator-agent_source.soar
Due: typescript-compile

attempt fix for ubuntu CI
  src/test/suite/extension.test.ts
Due: typescript-compile

fix: increase timeout duration
  src/test/suite/extension.test.ts
Due: typescript-compile

feat(tests): add validation test for created project without datamap errors
  .gitignore
  src/datamap/datamapValidator.ts
  src/test/suite/extension.test.ts
Due: typescript-compile

feat(tests): add tests for deleting operators and restoring initial state
  src/layout/layoutOperations.ts
  src/test/suite/extension.test.ts
Due: typescript-compile

chore: update code formatting
  .eslintrc.json
  language-configuration.json
  package.json
  src/datamap/datamapOperations.ts
  src/server/soarTypes.ts
  src/test/parserTest.ts
  src/test/suite/index.ts
  tsconfig.json
Due: typescript-compile, package-json-lint

feat(layout): enhance layout view to highlight currently viewed datamap
  src/extension.ts
  src/layout/layoutTreeProvider.ts
Due: typescript-compile

feat(datamap): improve datamap ID handling and update layout view messaging
  src/extension.ts
Due: typescript-compile

feat(commands): remove 'Add Substate' command from extension and package.json
  doc/FEATURES.md
  package.json
  src/extension.ts
  src/layout/layoutOperations.ts
Due: typescript-compile, package-json-lint

feat(lsp): implement project change notification handling in LSP server and improve context aware autocompletions
  doc/FEATURES.md
  src/client/lspClient.ts
  src/projectManager.ts
  src/server/soarLanguageServer.ts
Due: typescript-compile

feat(datamap): enhance attribute validation with detailed error messages and path analysis
  src/datamap/datamapValidator.ts
Due: typescript-compile

feat(tests): add unit tests for completion logic and datamap attribute suggestions
  src/server/soarLanguageServer.ts
  src/test/suite/completion-unit.test.ts
  src/test/suite/completion.test.ts
  test/fixtures/test-completions.soar
Due: typescript-compile
